<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
    <link rel="stylesheet" href="Css/style.css">
</head>
<body>

    <form id="form1">
        <input id="address" type="text" placeholder="Enter Country">
        <h1 class="navH">thank you for using our site to check the weather</h1>
        <button class="Wbtn">Search For Weather</button>
    </form>

   <div class="Result">
  
     <p id="location"></p>
    <p id="longtitude"></p>
    <p id="laititude"></p>
    <p id="forcast"></p>
    <p id="error"></p>
  
   </div>

<script src="js/script.js"></script>
</body>
</html>